<!DOCTYPE html> 
<html>
	<head>
		<link rel="stylesheet" href="../../style.css?v=10">
		<script src="../js/loader.js"></script>
		<title> My first game - Options </title>
	</head>
	<body>
		<header class="header">
			<div class="grid">
				<h1 class="title">Memory Game</h1>
				<h2 class="subtitle">by Ferran Perez Garcia</h2>
			</div>
		</header>
		<!--------------------------------------->
		<div class="corpus">
			<div id="options_id">
				<h1 class="menu-object" id="title">Options menú</h1>
				<h2 id="_h2">¿Quin nom tens?</h1>
					<div class="menu-object">
						<label for="name">Nom:</label>
						<input type="string" id="name" v-model="name">
					</div>
				<h2 id="_h2">¿Quin Mode de Joc Vols?</h1>
				<div class="menu-object">
					<input type="radio" id="mode1" value="mode1" v-model="mode" checked>
					<label for="mode1">Mode 1</label>
					<input type="radio" id="mode2" value="mode2" v-model="mode">
					<label for="mode2">Mode 2</label>
				</div>
				<h2 id="_h2">Mode 1</h2>
				<div class="menu-object">
					<label for="labelnumber">Number of cards:</label>
					<input type="number" id="labelnumber" v-model="num">
				</div>
				<div class="menu-object">
					<p>Dificulty:</p>
					<input type="radio" id="easy" value="easy" v-model="dificulty" checked>
					<label for="easy">Easy</label>
					<input type="radio" id="normal" value="normal" v-model="dificulty" >
					<label for="normal">Normal</label>
					<input type="radio" id="hard" value="hard" v-model="dificulty" >
					<label for="hard">Hard</label>
					
					<h2 id="_h2">Mode 2</h2>
					<label for="labellevelnumber">First level:</label>
					<input type="number" id="labellevelnumber" v-model="firstlevel">
	
				</div>
				<br>
				<button class="menu-object" v-on:click="save"> Save </button>
				<button class="menu-object" v-on:click="discard"> Discard </button>
			</div>
		</div>
		<!---------------------------------------->
		<footer class="footer">
			<div class="grid">
				<div class="text-footer">
					<h2 class="subtitle2">Contacta amb mi</h2>
				</div>
				<div class="item-footer">
					<a href="#">
						<i class="fa-solid fa-envelope"></i>
					</a>
				</div>
				<div class="item-footer">
					<a href="#">
						<i class="fa-brands fa-linkedin"></i>
					</a>
				</div>
				<div class="item-footer">
					<a href="#">
						<i class="fa-brands fa-instagram"></i>
					</a>
				</div>
				<div class="end">
					<p class="email">ferranperez2001@gmail.com</p>
					<p class="udg">Universitat de Girona</p>
				</div>
			</div>
		</footer>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
	<script src="../js/options.js"></script>
</html>

