model-viewer {
    width: 800px;
    height: 600px;
    --poster-color: #fff;
    --progress-bar-color: #ff00ff;
  }

  .grid1{
    display: grid;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px;
    grid-gap: 5px;
    background: blue;
    border: black 5px solid;
  }